<div class="container body-content">
        


<div class="jumbotron">
    <h1>Zenith Society</h1>
    <p class="lead">These are the activities happening this week.</p>
</div>
<div class="col-xs-12"><h3>Events for week of {{eventWeek | date: 'yMMMMEEEEd'}}:</h3></div>
<div class="col-xs-6 text-left"><button (click)=onPrevWeek()><</button></div>
<div class="col-xs-6 text-right"><button (click)=onNextWeek()>></button></div>
<table class="table">
    <thead>
    <tr>
        <th>
            Starting Date
        </th>
        <th>
            Ending Date
        </th>
        <th>
            Activity
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of events; let i=index;">
        <td>{{e.eventFrom | date: 'yMdjm'}} UTC</td>
        <td>{{e.eventTo | date: 'yMdjm'}} UTC</td>
        <td>{{e.activity.description}}</td>
    </tr>
    </tbody>
</table>
</div>