@model ZenithWebsite.Models.UserRolesViewModel.UserRolesViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label class="control-label col-md-2">Role To Be Deleted</label>
            <div class="col-md-10">
                <select asp-for="Roles" class="form-control" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="Roles" class="text-danger" />
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>